@font-face {
  font-family: "caviar_dreamsregular";
  src: url("/font/Caviar-Dreams-fontfacekit/webfonts/caviardreams_regular_macroman/CaviarDreams-webfont.eot");
  src: url("/font/Caviar-Dreams-fontfacekit/webfonts/caviardreams_regular_macroman/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("/font/Caviar-Dreams-fontfacekit/webfonts/caviardreams_regular_macroman/CaviarDreams-webfont.woff") format("woff"), url("/font/Caviar-Dreams-fontfacekit/webfonts/caviardreams_regular_macroman/CaviarDreams-webfont.ttf") format("truetype"), url("/font/Caviar-Dreams-fontfacekit/webfonts/caviardreams_regular_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.cta {
  position: relative;
  padding: 12px 35px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(175, 86, 18, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #AF5612;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  width: 13px;
  height: 10px;
  viewBox: 0 0 13 10;
}
.cta:hover:before {
  width: 90%;
  background: #af5612;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

@media screen and (max-width: 600px) {
  h3 {
    color: #AF5612;
  }

  #produits-modele {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.295);
    width: 75%;
    margin: auto;
  }
  #produits-modele img {
    width: 100%;
  }
  #produits-modele ul {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 601px) {
  h3 {
    color: #AF5612;
  }

  #produits {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  #produits img {
    width: 100%;
  }
  #produits .display-camera {
    width: 25%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 600px) {
  .produit img {
    width: 100%;
  }
  .produit_description {
    text-align: left;
  }
  .produit ul {
    padding: 0;
    padding-bottom: 32px;
  }

  .bouton_acheter {
    left: 20%;
  }

  .footer_produit {
    margin-top: 50px;
  }
}
@media screen and (min-width: 601px) {
  .element img {
    display: block;
    margin: auto;
    width: 50%;
  }
  .element h2, .element h3, .element h4, .element p, .element select {
    margin-left: 25%;
    width: 50%;
  }
}
.erreruForm {
  color: #db0000;
  font-weight: 600;
}

body {
  font-family: "caviar_dreamsregular";
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-btn {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .menu {
    position: fixed;
    display: inline-block;
    z-index: 1;
    top: 0;
    font-size: 1.5em;
    padding: 2%;
  }
  .menu .fas:hover + .menu_list {
    display: block;
  }
  .menu_list {
    display: none;
    position: absolute;
    padding: 10px;
    line-height: 200%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 0px 10px 10px 0px;
  }

  .panier {
    position: fixed;
    display: inline-block;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 1.5em;
    padding: 2%;
  }
  .panier .fas:hover + .panier_list {
    display: block;
  }
  .panier_list {
    display: none;
    position: absolute;
    padding: 10px;
    line-height: 200%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 0px 10px 10px 0px;
  }

  header {
    height: 125px;
    text-align: center;
    margin-bottom: 20px;
  }
  header .logo {
    height: 50px;
    color: #AF5612;
  }
  header .description {
    font-size: 0.8em;
  }

  .overlay-image {
    position: relative;
    margin-bottom: 40px;
  }
  .overlay-image img {
    width: 100%;
  }
  .overlay-image_info {
    position: absolute;
    font-weight: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.377);
    padding-bottom: 2%;
    padding-top: 2%;
    color: white;
    left: 0px;
    width: 100%;
    bottom: 0px;
  }

  .presentation {
    margin: 2%;
    margin-bottom: 60px;
    padding: 2%;
    text-align: center;
    font-size: 1em;
    line-height: 200%;
  }
  .presentation p {
    margin-bottom: 60px;
  }
  footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    line-height: 150%;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  footer li {
    width: 85px;
  }
}
@media screen and (min-width: 601px) {
  .menu {
    position: fixed;
    display: inline-block;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 1.5em;
    padding: 2%;
    cursor: pointer;
  }
  .menu .fas:hover + .menu_list {
    display: block;
  }
  .menu_list {
    display: none;
    position: absolute;
    padding: 10px;
    line-height: 200%;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
  }

  .panier {
    position: fixed;
    display: inline-block;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 1.5em;
    padding: 2%;
  }
  .panier .fas:hover + .panier_list {
    display: block;
  }
  .panier_list {
    display: none;
    position: absolute;
    padding: 10px;
    line-height: 200%;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px 10px 10px 0px;
  }

  header {
    height: 125px;
    text-align: center;
    margin-bottom: 20px;
  }
  header .logo {
    height: 50px;
    color: #AF5612;
  }
  header .description {
    font-size: 0.8em;
  }

  .presentation {
    margin: 2%;
    margin-bottom: 60px;
    padding: 2%;
    text-align: center;
    font-size: 1em;
    line-height: 200%;
  }
  .presentation p {
    margin-bottom: 60px;
  }
  footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer ul {
    display: flex;
  }
  footer li {
    margin-right: 50px;
    margin: auto;
  }
  footer li:hover {
    border-bottom: 1px solid white;
  }
}

/*# sourceMappingURL=style.css.map */
